{% extends 'base.html' %}

{% block title %}Positions{% endblock %}

{% block content %}
<main>
    
    <div>
        <h3 class="fs-4">
            Filters
        </h3>
        
        <button class="btn btn-primary">
            Apply Filters
        </button>
        
        <div style="display: flex; gap: 3rem;">
            
            <div>
                Departments
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Computer Science
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Physics
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Biology
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Chemistry
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Social Science
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Economics
                    </label>
                </div>
                
            </div>
            
            <div style="display: flex; flex-direction: column; gap: 1rem;">
                
                <div>
                    Pay
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          For Credit
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Paid
                        </label>
                    </div>
                                    
                </div>
                
                <div>
                    Location
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          In-Person
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Remote
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Hybrid
                        </label>
                    </div>
                        
                </div>
                
                <div>
                    Season
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Fall
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Spring
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Summer
                        </label>
                    </div>
                                    
                </div>
                
                
            </div>
            
            <div>
               Institute Wide Research Platforms
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Center for Biotechnology and interdisciplinary Studies (CBIS)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Center for Computational Innovations (CCI)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Center for Materials, Devices, and Integrated Systems (CMDIS)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Experimental Media and Performing Arts Center (EMPAC)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Institute for Data Exploration and Applications (IDEA)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Institute for Energy, the Built Environment, and Smart Systems (EBESS)
                    </label>
                </div>
                
            </div>
            
            <div>
                Institute Wide Research Centers
                 
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     <label class="form-check-label" for="flexCheckDefault">
                       Center for Architecture Science and Ecology (CASE)
                     </label>
                 </div>
                 
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked">
                       Center for Automation Technologies and Systems (CATS)
                     </label>
                 </div>
                 
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked">
                       Center for Future Energy Systems (CFES)
                     </label>
                 </div>
                 
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked">
                       Center for Modeling, Simulation and Imaging in Medicine (CeMSIM)
                     </label>
                 </div>
                 
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked">
                       Darrin Fresh Water Institute (DFWI)
                     </label>
                 </div>
                 
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked">
                       Network Science and Technology Center (NeST)
                     </label>
                 </div>
                 
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Rensselaer Astrobiology Research and Education Center (RARE)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Scientific Computation Research Center (SCOREC)
                    </label>
                </div>
                 
             </div>
            
        </div>
        
    </div>
    
    <br>
    
    <div class="container">
        <div class="row">
            <div class="search-grid col">

                <div class="search">
                    Search
                </div>

                <div class="search-grid-buttons">
                    <button type="button" class="btn btn-primary">Applied</button>
                    <button type="button" class="btn btn-primary">Saved</button>
                    <button type="button" class="btn btn-primary">Filters</button>
                </div>
            </div>
        </div>

        <div class="mt-4 no-border-radius">
            <div class="card position-grid">

                <!-- Holds all the jobs -->
                <div class="card position-card">
                    
                    {% for job in jobs %}
                    
                    <div class="card no-border-radius">
                        <div class="card-body">
                            <h6>
                                <span class="badge bg-danger">{{ job.professor }}</span>
                                <span class="badge bg-primary">{{ job.pay }}</span>
                            </h6>
                            <h5 class="card-title">{{ job.title }}s</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ job.department }}</h6>
                            <p class="card-text"> {{ job.building }} <br> {{ job.location }}</p>
                        </div>
                    </div>
                    
                    {% endfor %}

                    <div class="top-margin">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="" style="border-radius: 0px; grid-column: span 8">
                    <iframe src="position_details.html" title="Position_Details" height="800" width="610"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
