{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block content %}



<main>
    <p class="about">
        "LabConnect is an open source code project meant to connect RPI students to potential internship opportunities 
        from the Rensselaer Course for Open Software.
        <br><br>
        This project is hosted by Github.
        <br><br>
        If there are any changes you would like to see or any bugs to report, please go to the Report Bug tab"
    </p>
</main>
{% endblock %}